/* .theme-logo img {
  max-width: 130px;
}
.header-area,
.main-menu > nav > ul > li ul.submenu {
  background: #ffffff;
}

.header-area.sticky-bar.stick {
  background: #ffffff;
}
.main-menu > nav > ul > li > a,
.header-right-wrap .header-search > a,
.cart-wrap > button span.icon-cart,
.cart-wrap > button span.cart-price,
.header-right-wrap .setting-wrap button,
.main-menu > nav > ul > li ul.submenu li a {
  color: #000000;
}

.header-area .cart-wrap:hover button span.icon-cart .count-style {
  background-color: #dd321e;
}

.main-menu > nav > ul > li:hover > a,
.main-menu > nav > ul > li ul.mega-menu > li > ul > li:hover > a,
.main-menu > nav > ul > li ul.submenu li a:hover,
.header-right-wrap .header-search > a:hover,
.cart-wrap > button:hover span.icon-cart,
.header-right-wrap .setting-wrap button:hover,
.mobile-off-canvas-active
  .header-mobile-aside-wrap
  .mobile-menu-wrap
  .mobile-navigation
  nav
  .mobile-menu
  li
  ul
  li
  a:hover,
.mobile-off-canvas-active
  .header-mobile-aside-wrap
  .mobile-menu-wrap
  .mobile-navigation
  nav
  li
  a:hover {
  color: #dd321e;
}
.main-menu > nav > ul > li > a > span {
  background-color: #dd321e;
}
.header-small-mobile .cart-wrap > button span.icon-cart,
.header-small-mobile .cart-wrap > button span.cart-price,
.header-small-mobile .header-right-wrap .setting-wrap button,
.header_contact_info a {
  color: #000000;
}
.header-small-mobile .cart-wrap > button span.icon-cart:hover,
.header-small-mobile .cart-wrap > button span.cart-price:hover,
.header-small-mobile .header-right-wrap .setting-wrap button:hover,
.header_contact_info a:hover {
  color: #dd321e;
}
.header-area .main-menu > nav > ul > li ul.mega-menu {
  width: 1000px;
  left: -200px;
  background-color: #fff;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header-area .main-menu > nav > ul > li ul.mega-menu {
    width: 900px;
    left: -250px;
  }
}

.header-right-wrap .setting-wrap button svg,
.cart-wrap > button span.icon-cart svg,
.header-right-wrap .header-search svg {
  width: 24px;
  fill: #000000;
  transition: 0.3s;
}

.header-right-wrap .setting-wrap button svg:hover,
.cart-wrap > button span.icon-cart svg:hover,
.header-right-wrap .header-search svg:hover {
  fill: #dd321e;
}

.header_contact_info a svg {
  width: 30px;
  fill: #000000;
  transition: 0.3s;
  margin-right: 10px;
}
.header_contact_info a:hover svg {
  fill: #dd321e;
}

.clickable-menu a:hover {
  color: #dd321e;
}
.clickable-mainmenu {
  color: #dd321e;
}
.clickable-mainmenu .clickable-mainmenu-icon button {
  color: #000000;
}
.clickable-mainmenu .clickable-mainmenu-icon button:hover {
  color: #dd321e;
}
.clickable-mainmenu .clickable-menu-style ul li a {
  color: #000000;
}
.clickable-mainmenu .clickable-menu-style ul li a:hover {
  color: #dd321e;
}

.slinky-menu a span span {
  color: #dd321e;
}
.header-hm-7.stick .clickable-menu a {
  color: #000000;
}
.header-hm-7.stick .clickable-menu a:hover {
  color: #dd321e;
}

.slinky-theme-default .next::after {
  color: #000000;
}
.slinky-theme-default .next:hover::after {
  color: #dd321e;
}
.slinky-theme-default .back::before {
  background-color: #dd321e;
}
@font-face {
  font-family: Futura;
  font-weight: 400;
  font-style: normal;
  src: url("/public/Assets/fonts/futura/futura_n4.df36ce3d9db534a4d7947f4aa825495ed740e4107941.woff2?h1=YXNzeXJpYW4tMy5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;h2=ZHVua2ktZGVtby5teXNob3BpZnkuY29t&amp;hmac=4685eb3a7180e62ddf191370d23164d60304af1a30c582deb0889ba465b1b403")
      format("woff2"),
    url("/public/Assets/fonts/futura/futura_n4.6bce24beb4ba1ff4ddeb20f7cd6e2fa513a3d6ec2d45.woff?h1=YXNzeXJpYW4tMy5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;h2=ZHVua2ktZGVtby5teXNob3BpZnkuY29t&amp;hmac=e4130ced5fd30018d43e34eaa324b8777e07b07982b23cb6f1a3039115366e9a")
      format("woff");
}

@font-face {
  font-family: Futura;
  font-weight: 400;
  font-style: normal;
  src: url("/public/Assets/fonts/futura/futura_n4.df36ce3d9db534a4d7947f4aa825495ed740e4107941.woff2?h1=YXNzeXJpYW4tMy5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;h2=ZHVua2ktZGVtby5teXNob3BpZnkuY29t&amp;hmac=4685eb3a7180e62ddf191370d23164d60304af1a30c582deb0889ba465b1b403")
      format("woff2"),
    url("/public/Assets/fonts/futura/futura_n4.6bce24beb4ba1ff4ddeb20f7cd6e2fa513a3d6ec2d45.woff?h1=YXNzeXJpYW4tMy5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;h2=ZHVua2ktZGVtby5teXNob3BpZnkuY29t&amp;hmac=e4130ced5fd30018d43e34eaa324b8777e07b07982b23cb6f1a3039115366e9a")
      format("woff");
}

.header-area .main-menu > nav > ul > li > a,
.header-area .header-right-wrap .setting-wrap .setting-content ul li h4,
.header-area .cart-wrap .shopping-cart-content .shopping-cart-top h4,
.header-area .header-right-wrap .cart-empty-title p,
.header-area .main-search-active .sidebar-search-input .form-search input,
.clickable-mainmenu .clickable-menu-style ul li a,
.header-area .cart-wrap > button span.cart-price {
  font-family: Futura, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

.header-area .main-menu > nav > ul > li ul.submenu li a,
.header-area .main-menu > nav > ul > li ul.mega-menu > li ul li a,
.header-area .main-menu > nav > ul > li ul.mega-menu > li a.menu-title,
.header-right-wrap .setting-wrap .setting-content ul li ul li {
  font-family: Futura, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

.header-area .cart-wrap:hover > button span.cart-price {
  color: #dd321e;
}

.header_style_5 .main-menu > nav > ul > li:first-child {
  margin-left: 0;
}
.header_style_5 .main-menu > nav > ul > li > a {
  line-height: 80px;
}

.header_style_5 .header_top_search button,
.header_style_5 .header-search-container .header_5_btn {
  background: #dd321e;
  border: 1px solid #dd321e;
}
.header_style_5 .header_top_search button:hover,
.header_style_5 .header-search-container .header_5_btn:hover {
  color: #dd321e;
  background: transparent;
}

.header-area.menu-left .main-menu {
  text-align: left;
}
.header-area.menu-center .main-menu {
  text-align: center;
  margin-left: 0;
}
.header-area.menu-right .main-menu {
  text-align: right;
}

.header-small-mobile .header-right-wrap .mobile-off-canvas a {
  color: #000000;
}
.header-small-mobile .header-right-wrap .mobile-off-canvas a:hover {
  color: #dd321e;
}
.clickable-menu.clickable-mainmenu-active i {
  transition: 0.3s;
  color: #ffffff;
  background: #000000;
  outline: 1px solid #000000;
}

.clickable-menu.clickable-mainmenu-active i:hover {
  color: #dd321e;
} */
data-shopify
  > #section-template--14595761602640__e5bea2ba-dc5b-4b9a-bda3-2860db263594 {
  padding-top: 80px;
  padding-bottom: 0px;
}
@media (min-width: 768px) and (max-width: 991px) {
  #section-template--14595761602640__e5bea2ba-dc5b-4b9a-bda3-2860db263594 {
    padding-top: 80px;
    padding-bottom: 0px;
  }
}
@media (max-width: 767px) {
  #section-template--14595761602640__e5bea2ba-dc5b-4b9a-bda3-2860db263594 {
    padding-top: 60px;
    padding-bottom: 20px;
  }
}

@font-face {
  font-family: Futura;
  font-weight: 400;
  font-style: normal;
  src: url("/public/Assets/fonts/futura/futura_n4.df36ce3d9db534a4d7947f4aa825495ed740e4107941.woff2?h1=YXNzeXJpYW4tMy5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;h2=ZHVua2ktZGVtby5teXNob3BpZnkuY29t&amp;hmac=4685eb3a7180e62ddf191370d23164d60304af1a30c582deb0889ba465b1b403")
      format("woff2"),
    url("/public/Assets/fonts/futura/futura_n4.6bce24beb4ba1ff4ddeb20f7cd6e2fa513a3d6ec2d45.woff?h1=YXNzeXJpYW4tMy5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;h2=ZHVua2ktZGVtby5teXNob3BpZnkuY29t&amp;hmac=e4130ced5fd30018d43e34eaa324b8777e07b07982b23cb6f1a3039115366e9a")
      format("woff");
}

@font-face {
  font-family: Poppins;
  font-weight: 400;
  font-style: normal;
  src: url("/public/Assets/fonts/poppins/poppins_n4.934accbf9f5987aa89334210e6c1e9151f37d3b6ea16.woff2?h1=YXNzeXJpYW4tMy5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;h2=ZHVua2ktZGVtby5teXNob3BpZnkuY29t&amp;hmac=e5d3299ecdc61d30a7a93568d590212972abbc3bbf42a2bbd9640ddbefeaf2fd")
      format("woff2"),
    url("/public/Assets/fonts/poppins/poppins_n4.ee28d4489eaf5de9cf6e17e696991b5e9148c7164545.woff?h1=YXNzeXJpYW4tMy5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;h2=ZHVua2ktZGVtby5teXNob3BpZnkuY29t&amp;hmac=bbc97143f771cd9695ddf91c5f817a57ae45ed11340bfcf5cceac91bd433353c")
      format("woff");
}

@font-face {
  font-family: Poppins;
  font-weight: 400;
  font-style: normal;
  src: url("/public/Assets/fonts/poppins/poppins_n4.934accbf9f5987aa89334210e6c1e9151f37d3b6ea16.woff2?h1=YXNzeXJpYW4tMy5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;h2=ZHVua2ktZGVtby5teXNob3BpZnkuY29t&amp;hmac=e5d3299ecdc61d30a7a93568d590212972abbc3bbf42a2bbd9640ddbefeaf2fd")
      format("woff2"),
    url("/public/Assets/fonts/poppins/poppins_n4.ee28d4489eaf5de9cf6e17e696991b5e9148c7164545.woff?h1=YXNzeXJpYW4tMy5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;h2=ZHVua2ktZGVtby5teXNob3BpZnkuY29t&amp;hmac=bbc97143f771cd9695ddf91c5f817a57ae45ed11340bfcf5cceac91bd433353c")
      format("woff");
}

@font-face {
  font-family: Futura;
  font-weight: 400;
  font-style: normal;
  src: url("/public/Assets/fonts/futura/futura_n4.df36ce3d9db534a4d7947f4aa825495ed740e4107941.woff2?h1=YXNzeXJpYW4tMy5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;h2=ZHVua2ktZGVtby5teXNob3BpZnkuY29t&amp;hmac=4685eb3a7180e62ddf191370d23164d60304af1a30c582deb0889ba465b1b403")
      format("woff2"),
    url("/public/Assets/fonts/futura/futura_n4.6bce24beb4ba1ff4ddeb20f7cd6e2fa513a3d6ec2d45.woff?h1=YXNzeXJpYW4tMy5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;h2=ZHVua2ktZGVtby5teXNob3BpZnkuY29t&amp;hmac=e4130ced5fd30018d43e34eaa324b8777e07b07982b23cb6f1a3039115366e9a")
      format("woff");
}

#section-template--14595761602640__99e9124f-954e-40d8-82a2-001d7fba9a10.countdown_promotion_banner
  .banner-bg-content
  h3 {
  color: #000000;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 28px;
  margin: 0 0 18px;
}

#section-template--14595761602640__99e9124f-954e-40d8-82a2-001d7fba9a10.countdown_promotion_banner
  .banner-bg-content
  h2 {
  color: #000000;
  font-family: Futura, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 57px;
  margin: 0 0 15px;
}

#section-template--14595761602640__99e9124f-954e-40d8-82a2-001d7fba9a10.countdown_promotion_banner
  .banner-bg-content
  p {
  color: #000000;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  margin: 0 0 15px;
  line-height: 30px;
}

@media (min-width: 768px) and (max-width: 992px) {
  #section-template--14595761602640__99e9124f-954e-40d8-82a2-001d7fba9a10.countdown_promotion_banner
    .banner-bg-content
    h3 {
    font-size: 24px;
    line-height: 28px;
  }
  #section-template--14595761602640__99e9124f-954e-40d8-82a2-001d7fba9a10.countdown_promotion_banner
    .banner-bg-content
    h2 {
    font-size: 40px;
    line-height: 57px;
  }
  #section-template--14595761602640__99e9124f-954e-40d8-82a2-001d7fba9a10.countdown_promotion_banner
    .banner-bg-content
    p {
    font-size: 18px;
    line-height: 30px;
  }
}

@media (min-width: 300px) and (max-width: 767px) {
  #section-template--14595761602640__99e9124f-954e-40d8-82a2-001d7fba9a10.countdown_promotion_banner
    .banner-bg-content
    h3 {
    font-size: 24px;
    line-height: 28px;
  }
  #section-template--14595761602640__99e9124f-954e-40d8-82a2-001d7fba9a10.countdown_promotion_banner
    .banner-bg-content
    h2 {
    font-size: 30px;
    line-height: 40px;
  }
  #section-template--14595761602640__99e9124f-954e-40d8-82a2-001d7fba9a10.countdown_promotion_banner
    .banner-bg-content
    p {
    font-size: 18px;
    line-height: 30px;
  }
}

#section-template--14595761602640__99e9124f-954e-40d8-82a2-001d7fba9a10
  .count_down_wrapper
  .single-countdown {
  border-radius: 10px;
}

#section-template--14595761602640__99e9124f-954e-40d8-82a2-001d7fba9a10
  .banner-bg-content
  a.ban_btn1 {
  font-family: Futura, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  margin: 10px 0 0;
  color: #ffffff;
}

#section-template--14595761602640__99e9124f-954e-40d8-82a2-001d7fba9a10
  .banner-bg-content
  a.ban_btn1:hover {
  color: #ffffff;
}

#section-template--14595761602640__99e9124f-954e-40d8-82a2-001d7fba9a10
  .banner-bg-content
  a.ban_btn1.banner_style_2 {
  border: 1px solid #c98060;
  background: #c98060;
  border-radius: 0px;
  padding: 8px 60px;
}

#section-template--14595761602640__99e9124f-954e-40d8-82a2-001d7fba9a10
  .banner-bg-content
  a.ban_btn1.banner_style_2:hover {
  background: #000000;
  border: 1px solid #000000;
}

#section-template--14595761602640__99e9124f-954e-40d8-82a2-001d7fba9a10
  .count_down_wrapper
  .single-countdown {
  background: #fff;
}

#section-template--14595761602640__99e9124f-954e-40d8-82a2-001d7fba9a10
  .count_down_wrapper.count_border_disable
  .single-countdown {
  background: none;
  border: none;
  text-align: left;
  padding-left: 0;
}
.count_down_wrapper.count_border_disable .count-number {
  margin-bottom: 10px;
}

#section-template--14595761602640__99e9124f-954e-40d8-82a2-001d7fba9a10
  .promotion_video_btn {
  position: relative;
}

#section-template--14595761602640__99e9124f-954e-40d8-82a2-001d7fba9a10
  .promotion_video_btn
  .magni_video_pop {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 90px;
  width: 90px;
  border: 1px solid #fff;
  border-radius: 100%;
  text-align: center;
  line-height: 90px;
  font-size: 20px;
  background: #fff;
  color: #dd321e;
  transition: 0.3s;
  margin-left: -45px;
  margin-top: -45px;
}
#section-template--14595761602640__99e9124f-954e-40d8-82a2-001d7fba9a10
  .promotion_video_btn
  .magni_video_pop:hover {
  transform: scale(1.15);
  background: transparent;
  color: #dd321e;
  border: 1px solid #dd321e;
}

#section-template--14595761602640__99e9124f-954e-40d8-82a2-001d7fba9a10
  .faq-page
  .card
  .card-header
  button {
  color: #000000;
  transition: 0.3s;
}
#section-template--14595761602640__99e9124f-954e-40d8-82a2-001d7fba9a10
  .faq-page
  .card
  .card-header
  button:hover {
  color: #dd321e;
}
#section-template--14595761602640__99e9124f-954e-40d8-82a2-001d7fba9a10
  .faq-page
  .card-body
  p {
  color: #000000;
}
#section-template--14595761602640__99e9124f-954e-40d8-82a2-001d7fba9a10 .card {
  background-color: #fff;
}

#section-template--14595761602640__99e9124f-954e-40d8-82a2-001d7fba9a10.countdown_promotion_banner
  .banner-bg-content {
  padding-right: 100px;
}
#section-template--14595761602640__99e9124f-954e-40d8-82a2-001d7fba9a10.countdown_promotion_banner
  .row {
  background: #f6f6f6;
  padding: 90px 60px;
  border-radius: 10px;
}
@media (max-width: 991px) {
  #section-template--14595761602640__99e9124f-954e-40d8-82a2-001d7fba9a10.countdown_promotion_banner
    .row {
    padding: 50px 20px;
  }
  #section-template--14595761602640__99e9124f-954e-40d8-82a2-001d7fba9a10.countdown_promotion_banner
    .banner-bg-content {
    padding-right: 0;
    margin-bottom: 20px;
  }
}
data-shopify
  > #section-template--14595761602640__99e9124f-954e-40d8-82a2-001d7fba9a10 {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 45px;
  margin-bottom: 80px;
}
@media (min-width: 768px) and (max-width: 991px) {
  #section-template--14595761602640__99e9124f-954e-40d8-82a2-001d7fba9a10 {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 80px;
  }
}
@media (max-width: 767px) {
  #section-template--14595761602640__99e9124f-954e-40d8-82a2-001d7fba9a10 {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 60px;
  }
}

.footer-widget .footer-title h3 {
  color: #ffffff;
}
.subscribe-style p,
.footer-widget .footer-list ul li a,
.footer-top ul li a,
.theme_footer_top .social_widget a,
.footer-widget .footer-list ul li {
  color: #ffffff;
}
.theme_footer_top .footer-widget .subscribe-style p {
  color: #ffffff;
}
.subscribe-style .subscribe-form .mc-form .clear:hover {
  background-color: #dd321e;
}
.footer-top ul li a:hover {
  color: #dd321e;
}
.subscribe-style .subscribe-form .mc-form input::-moz-placeholder {
  color: #ffffff !important;
}
.subscribe-style .subscribe-form .mc-form input::-webkit-input-placeholder {
  color: #ffffff !important;
}
.subscribe-style .subscribe-form .mc-form input {
  border-color: #ffffff;
}
.footer-widget .footer_about_contact p {
  color: #ffffff;
}
.theme_footer_top .top_bar_social a {
  color: #ffffff;
}
.theme_footer_top .top_bar_social a:hover {
  color: #dd321e;
}
@font-face {
  font-family: Futura;
  font-weight: 400;
  font-style: normal;
  src: url("/public/Assets/fonts/futura/futura_n4.df36ce3d9db534a4d7947f4aa825495ed740e4107941.woff2?h1=YXNzeXJpYW4tMy5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;h2=ZHVua2ktZGVtby5teXNob3BpZnkuY29t&amp;hmac=4685eb3a7180e62ddf191370d23164d60304af1a30c582deb0889ba465b1b403")
      format("woff2"),
    url("/public/Assets/fonts/futura/futura_n4.6bce24beb4ba1ff4ddeb20f7cd6e2fa513a3d6ec2d45.woff?h1=YXNzeXJpYW4tMy5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;h2=ZHVua2ktZGVtby5teXNob3BpZnkuY29t&amp;hmac=e4130ced5fd30018d43e34eaa324b8777e07b07982b23cb6f1a3039115366e9a")
      format("woff");
}
@font-face {
  font-family: Futura;
  font-weight: 400;
  font-style: normal;
  src: url("/public/Assets/fonts/futura/futura_n4.df36ce3d9db534a4d7947f4aa825495ed740e4107941.woff2?h1=YXNzeXJpYW4tMy5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;h2=ZHVua2ktZGVtby5teXNob3BpZnkuY29t&amp;hmac=4685eb3a7180e62ddf191370d23164d60304af1a30c582deb0889ba465b1b403")
      format("woff2"),
    url("/public/Assets/fonts/futura/futura_n4.6bce24beb4ba1ff4ddeb20f7cd6e2fa513a3d6ec2d45.woff?h1=YXNzeXJpYW4tMy5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;h2=ZHVua2ktZGVtby5teXNob3BpZnkuY29t&amp;hmac=e4130ced5fd30018d43e34eaa324b8777e07b07982b23cb6f1a3039115366e9a")
      format("woff");
}
.theme_footer_top .footer-widget .footer-title h3 {
  font-family: Futura, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
}
.theme_footer_top .subscribe-style p,
.theme_footer_top .footer-widget .footer-list ul li a,
.theme_footer_top .footer-top ul li a,
.theme_footer_top .footer-widget .footer_about_contact p,
.theme_footer_top .social_widget a {
  font-family: Futura, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
data-shopify > #section-footer_5 {
  background: #282828 no-repeat scroll center center / cover;
  padding-top: 80px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
@media (min-width: 768px) and (max-width: 991px) {
  #section-footer_5 {
    padding-top: 80px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
@media (max-width: 767px) {
  #section-footer_5 {
    padding-top: 60px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.footer-bottom .footer-social a,
.footer-bottom .copyright p,
.footer-bottom .copyright a {
  color: #ffffff;
}
.footer-bottom .footer-social a:hover,
.footer-bottom .copyright a:hover {
  color: #dd321e;
}
@font-face {
  font-family: Futura;
  font-weight: 400;
  font-style: normal;
  src: url("/public/Assets/fonts/futura/futura_n4.df36ce3d9db534a4d7947f4aa825495ed740e4107941.woff2?h1=YXNzeXJpYW4tMy5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;h2=ZHVua2ktZGVtby5teXNob3BpZnkuY29t&amp;hmac=4685eb3a7180e62ddf191370d23164d60304af1a30c582deb0889ba465b1b403")
      format("woff2"),
    url("/public/Assets/fonts/futura/futura_n4.6bce24beb4ba1ff4ddeb20f7cd6e2fa513a3d6ec2d45.woff?h1=YXNzeXJpYW4tMy5hY2NvdW50Lm15c2hvcGlmeS5jb20&amp;h2=ZHVua2ktZGVtby5teXNob3BpZnkuY29t&amp;hmac=e4130ced5fd30018d43e34eaa324b8777e07b07982b23cb6f1a3039115366e9a")
      format("woff");
}
.footer-bottom .footer-social a,
.footer-bottom .copyright p {
  font-family: Futura, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
.footer-bottom.position_fb {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}
data-shopify > #section-footer-bottom {
  padding-top: 20px;
  padding-bottom: 0px;
  background: #242424 no-repeat scroll center center / cover;
}
@media (min-width: 768px) and (max-width: 991px) {
  #section-footer-bottom {
    padding-top: 20px;
    padding-bottom: 0px;
  }
}
@media (max-width: 767px) {
  #section-footer-bottom {
    padding-top: 20px;
    padding-bottom: 0px;
  }
}

.search-results {
  z-index: 8889;
  list-style-type: none;
  width: 190px;
  margin: 0;
  padding: 0;
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 0px;
  -webkit-box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.search-results li {
  display: block;
  width: 100%;
  height: 38px;
  margin: 0;
  padding: 0;
  border-top: 1px solid #cccccc;
  line-height: 38px;
  overflow: hidden;
}
.search-results li:first-child {
  border-top: none;
}
.search-results .title {
  float: left;
  width: 140px;
  padding-left: 8px;
  white-space: nowrap;
  overflow: hidden;
  /* The text-overflow property is supported in all major browsers. */
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-align: left;
  font-size: 12px;
  line-height: 38px;
  color: #515151;
}
.search-results .title:hover {
  color: #ce9634;
}
.search-results .thumbnail {
  float: left;
  display: block;
  width: 32px;
  height: 32px;
  margin: 3px 0 3px 3px;
  padding: 0;
  text-align: center;
  overflow: hidden;
  border-radius: 0px;
}
